@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

/*----------------------------------------------------- Color -----*/

.book-information-container

.subject-container 

.container-wrapper {
    
}

.container-wrapper--red {
    background-color: #FF0000;
    color: #fff;
    
}

/*----------------------------------------------------- General styling -----*/
body {
    font-family: "Noto Serif", Times, serif;
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: 700;
}

.center {
    text-align: center;
}

/*----------------------------------------------------- Block dividers -----*/

.block-divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(235, 15, 15);
    width: 100px;
    }
.block-divider--black {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1.5px solid #000000;
    width: 50px;

}


/*----------------------------------------------------- Containers -----*/

.content-containers {
    padding-top: 75px;
    padding-bottom: 75px;
}


/*----------------------------------------------------- Navbar -----*/

.navbar-container {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0;
    border: 0;
    width: 100%;
    font-family: "IBM Plex Serif", 'Times New Roman', Times, serif;
    background-color: #000000;
    z-index: 1;
}

.navbar .navbar-nav a {
    font-weight: bold;
}


/*----------------------------------------------------- Callout/Head of page section-----*/

.callout-container{
    height: 85vh;

/*----Code regarding hero image bellow copied form Whiskey Drop project---*/

    background: url('../images/moneybill.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;

/*----Code copied form Whiskey Drop project end---*/
}

.jumbotron {
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 0;
}

.jumbotron-header {
    font-family: "Playfair Display", 'Times New Roman', Times, serif;
    font-size: 42px;
}

.callout-p {
    font-family: "Noto+Serif", Times, serif;
    font-size: 20px;   
    font-weight: 500;

}

.callout-span {
    color: #FF0000;
}

.navbar-text {
    font-weight: bold;
}

/*----------------------------------------------------- General book information section -----*/

.section-header-book {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 50px;
    text-align: center;
    font-family: "Playfair Display", 'Times New Roman', Times, serif;
    font-weight: 300;
}

.book-information-text p {
    text-align: center;
}

.book-cover {
    height: 280px;
    width: 180px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.media {
    text-align: center;
}

.media-sm-sr i {
    font-size: 35px;
    text-align: center;
    color: #FF0000;
    padding-top: 25px;
    padding-bottom: 25px;
    transition: all 0.35s ease-in;
    -moz-transition: all 0.35s ease-in;
    -webkit-transition: all 0.35s ease-in;
    -o-transition: all 0.35s ease-in;
}     

 .media-sm-sr i:hover {
    color: #000000;
}
/*----------------------------------------------------- Subjects section -----*/

.section-header-subjects {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 50px;
    text-align: center;
    font-family: "Playfair Display", 'Times New Roman', Times, serif;
    font-weight: 400;
}

.subject-right {
    float: right;
    text-align: right;
    margin-bottom: 50px;
    
}

.subject-left {
    float:left;
    text-align: left;
    margin-bottom: 50px;
    
}

.subject-header {
    font-family: "IBM Plex Serif";
    font-weight: 400;
    margin-bottom: 25px;
    text-align: center;
}

/*----------------------------------------------------- Footer -----*/

footer {
    background-color: #000000;
    color: #F8F8FF;
    min-height: 100px;
    margin: 0;
    padding-top: 20px;
}

.footer-section {
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
}

.basic-economics-link i {
    font-size: 20px;
    color: #F8F8FF;
    padding-left: 5px;
    transition: all 0.35s ease-in;
    -moz-transition: all 0.35s ease-in;
    -webkit-transition: all 0.35s ease-in;
    -o-transition: all 0.35s ease-in;

    position: relative;
}

.basic-economics-link i:hover {
    color: #FF0000;
}

/*------------------------------------------------------ts.html page-----------------------------------------------------------*/


/*----------------------------------------------------- Head pictures of Thomas Sowell -----*/

.overlay-dark {
    position: absolute;
    top: 0;
    left: 0;
    height: 87.5%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.callout-container-image {
    height: 70vh;
    background-color: #FF0000;
}

.jumbotron-ts {
    height: 389px;
    width: 720px;
    background-color: rgba(0, 0, 0, 0.0)
}



/*----------------------------------------------------- Information TS -----*/


/*----------------------------------------------------- Other books of TS -----*/



/*------------------------------------------------------newsletter.html page------------------------------------------------------*/