@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;400;500;600&display=swap');

/*----------------------------------------------------- Color -----*/

.bg-color-heading-book {
    background-color: #000000;
}

.bg-color-heading-name {
    background-color: #DC143C;
}

/*----------------------------------------------------- General styling -----*/

.uppercase {
    text-transform: uppercase;
}

.center {
    text-align: center;
}

.inline-block {
    display: inline-block;
}

/*----------------------------------------------------- Header -----*/

header {
    margin: 0;
}

.heading {
  
}

.heading-book {
    font-family: "Playfair Display", sans-serif;
    color: #fff;
    margin-top: 50px;
    text-align: center;

}

.heading-name {
    font-family: "IBM Plex Serif", sans-serif;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 35px;
    text-align: center;
}

/*----------------------------------------------------- Code bellow directly taken from the Love Running project -----*/

#hero-image{
  height: 600px;
  width: 100%;
  background: url("https://si.wsj.net/public/resources/images/BN-RL960_riley0_M_20170103182813.jpg") no-repeat center center;

  animation-name: hero-zoom;   
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

/*-------------------------------------------------------Love running code end */


/*----------------------------------------------------- Footer -----*/

footer {
    background-color: #000000;
    color: #F8F8FF;
    min-height: 100px;
    margin: 0;
    padding-top: 20px;
}

.footer-section {
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
}

.basic-economics-link i {
    size: 20px;
    color: #F8F8FF;
    padding-left: 5px;
    transition: all 0.35s ease-in;
    -moz-transition: all 0.35s ease-in;
    -webkit-transition: all 0.35s ease-in;
    -o-transition: all 0.35s ease-in;
}

.basic-economics-link i:hover {
    color: #FF0000;
}

.block-divider {
    height: 2px;
    width: 20px;
    margin-top: 1px;
    margin-bottom: 2px;
    border: 0;
    background-color:#FF0000;
}


